@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
  }
  
  body{
    background-image: url(/img/fundocadastro.jpg);
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .container{
    background-color: #fafafa;
    border-radius: 14px;
    margin: 14px;
    max-width: 600px;
    width: 100%;
    box-sizing: 0 3px 5px rgba(0,0,0, 0.5);
    overflow: hidden;
  }
  
  .header{
    background: #F22EAE;
    padding: 24px;
    text-align: center;
    color: #FFF;
  }
  
  .form{
    padding: 18px;
  }
  
  .form-content{
    margin-bottom: 8px;
    padding-bottom: 18px;
    position: relative;
  }
  
  .form-content label{
    display: inline-block;
    margin-bottom: 4px;
  }
  
  .form-content input{
    display: block;
    width: 100%;
    border-radius: 8px;
    padding: 8px;
    border: 2px solid #dfdfdf;
  }
  
  .form-content a{
    position: absolute;
    bottom: -8px;
    left: 0;
    visibility: hidden;
  }
  


  .form input[type="submit"]{
    background-color: #F22EAE;
    color: #FFF;
    width: 100%;
    border-radius: 14px;
    padding: 10px;
    border: 0;
    font-size: 16px;
    cursor: pointer;
    margin-top: 14px;
  }
  
  .form-content.error input{
    border-color: #ff3b25;
  }
  
  .form-content.error a{
    color: #ff3b25;
    visibility: visible;
  }
  .botao {
    display: flex;
    justify-content: center;
    align-items: center;

}
.botoes {
    display: flex;
    justify-content: center;
}
  .botoes-centrais {
    color: #f2f0f0; 
    background-color: #F22EAE;
    margin: 0 5px 0 5px; 
    border-radius: 5px; 
    border: none; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    font-family: Poppins, sans-serif;
    margin: 10px;
  }
