<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">
<head>
    <meta charset='utf-8'>
    <title>Sucesso</title>
    <link rel="stylesheet" href="/css/principal.css">
</head>
<body>
    <h1>Sucesso! As informações foram enviadas corretamente </h1>

    <div class="img-container"><img src="/img/undraw_mail_sent_re_0ofv.svg" alt="Ilustração"></div>

 <div class="botao">  <button class="botoes-centrais"> <a style="color: #fff; text-decoration: none; justify-content: center;" th:href="@{/}">Voltar para o index</a></button> </div>
</body>
</html>